body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

h2 {
  font-size: 2rem;
  color: #333;
}

section {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007bff;
  color: white;
}

button:focus {
  outline: none;
}

p {
  font-size: 1.2rem;
  color: #333;
}

.statistics {
  font-size: 1.2rem;
}

#root {
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.feedback-options {
  display: flex;
  justify-content: center;
}

.feedback-options button {
  margin-right: 10px;
}

.feedback-options button:last-child {
  margin-right: 0;
}
